<!-- <ul  *ngFor="let pro of product">

    
    <div class="card">
    <div class="container">
       <img [src]="pro.image">
       <h2>{{pro.name}} Details</h2>
         <div><span>id: </span>{{pro.id}}</div>
         
          <div>
              <label>name:
                <input [(ngModel)]="pro.name" placeholder="name"/>
              </label>
            </div>
        <a class="btn btn-success" href="view"  >Back</a>
        <a class="btn btn-primary" href="view"  >Save</a>
        
        </div>
  
    </div>
    
    </ul> -->