.btn-primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  margin-left: 30px;
  width: 85px;
  margin-right: 20px;
}




.imgClass
{
  height: 234px;
    width: 215px;

}